services:
  app:
    build:
      context: .
    container_name: backend-app
    ports:
      - "3131:3131"
    env_file:
      - .env
    restart: always
    networks:
      - db-network

networks:
  db-network:
    name: databases_db-network